*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    font-family: 'Staatliches', cursive;
}
a {
    text-decoration: none;
    color: #e1c497;
}
/* Header */
.navegador {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}
.navegador-imagen {
    display: flex;
    align-items: center;
    padding: 10px;
}
.navegador-imagen-redonda{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.navegador-div {
    text-decoration: none;
    display: flex;
}
.navegador-lista {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.navegador-lista li {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 20px;
    text-decoration: none;
}
/* main index */
.imagen-inicio img {
    width: 100%;
}
/* section pagina principal*/
.eventos {
    color: white;
}
.eventos-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
    font-size: 30px;
    background-color: #000000;
}
.eventos-imagen {
    display: flex;
    background-color: #403e3e;
}
.eventos-imagenes-lista {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.eventos-imagenes-lista-1 p {
    text-align: center;
}
.eventos-imagenes, .eventos-imagenes-lista {
    background-color: #403e3e;
}
/* footer */
.pie {
    background-color: #9e2a2b;
    color: #e1c497;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pie-pagina-lista {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.pie-locacion-texto h4 {
    font-size: 25px;
}
.pie, .pie-pagina, .pie-pagina-lista li {
    list-style-type: none;
}
/* barra */
.imagen-pestaña-barra img {
    width: 100%;
}
.contenido-barra {
    color: #e1c497;
}
.contenido-barra-cervezas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contenido-barra-cervezas-titulo {
    display: flex;
    justify-content: center;
    margin: 80px;
    font-size: 30px;
    background-color: #000000;
}
/* barra rubia */
.contenido-barra-cervezas-rubia {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Archivo Narrow', sans-serif;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.contenido-barra-cervezas-rubia img {
    align-items: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 50%;
}
.contenido-barra-rubia-titulo {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.contenido-barra-cervezas-rubia p{
    text-align: center;
}
/* barra negra */
.contenido-barra-negra-titulo {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.contenido-barra-cervezas-negra {
    display: flex;
    flex-direction: row;
    font-family: 'Archivo Narrow', sans-serif;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding: 10px;
}
.contenido-barra-cervezas-negra img {
    align-items: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 50%;
}
.contenido-barra-cervezas-negra p{
    text-align: center;
}
/* barra roja */
.contenido-barra-roja-titulo {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.contenido-barra-cervezas-roja {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Archivo Narrow', sans-serif;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.contenido-barra-cervezas-roja img {
    align-items: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 50%;
}
.contenido-barra-cervezas-roja p{
    text-align: center;
}
/* Nosotros */
.nosotros-titulo {
    color: #e1c497;
    display: flex;
    justify-content: center;
    padding: 80px;
    font-size: 30px;
}
.main-nosotros-foto-principal img{
    width: 100%;
}
.main-nosotros-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e1c497;
    width: 800px;
    margin: auto;
    padding: 75px;
}
.main-nosotros-cont img {
    width: 100%;
}
.main-nosotros-cont p {
    text-align: center;
}
.video-agayudos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: center;
    padding: 30px;
}
.video-agayudos h2 {
    color: #e1c497;
    padding: 30px;
}
/* eventos */
.imagen-principal-eventos img{
    width: 100%;
}
.titulo-eventos {
    color: #e1c497;
    display: flex;
    justify-content: center;
    padding: 80px;
    font-size: 30px;
    text-align: center;
}
.galeria-eventos {
    display: flex;
}
.galeria-eventos img {
    width: 100%;
}
.titulo-prox-eventos {
    display: flex;
    justify-content: center;
}
.titulo-prox-eventos h2 {
    color: #e1c497;
    padding: 30px;
}
.prox-eventos{
    display: flex;
    justify-content: space-around;
}
.prox-eventos p {
    color: #e1c497;
    display: flex;
    justify-content: center;

}
/* contacto */
.contacto-img img{
    width: 100%;
}
.form-contacto {
    color: #e1c497;
}
.formulario{
    display: grid;
}
.titulo-form{
    text-align: center;
    margin: 80px;
    font-size: 30px;
    background-color: #000000
}



/* responsive */

/* pantalla 768 */

@media screen and (max-width: 768px){
    .eventos-imagenes-lista{
        width: 100%;
        flex-direction: column;
    }
    .eventos-imagenes-lista-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
}

/* pantalla 480 */
@media screen and (max-width: 480px){
    .navegador {
        flex-direction: column;
    }
    .navegador-imagen {
        justify-content: center;
    }
    .navegador-div {
        justify-content: center;
    }
    .navegador-lista{
        flex-direction: column;
        align-items: center;
    }
    .eventos-titulo {
        text-align: center;
    }
    .main-nosotros-cont {
        width: 100%;
    }
    .video-agayudos iframe {
        width: 100%;
    }
    .contenido-barra-cervezas-rubia img{
        width: 50%;
    }
    .contenido-barra-cervezas-negra img{
        width: 50%;
    }  
    .contenido-barra-cervezas-roja img{
        width: 50%;
    }
    .prox-eventos {
        flex-direction: column;
        align-items: center;
    }
    .prox-eventos1 {
        padding-bottom: 30px;
    }
}
.transicion{
    transition: all 2s;
}
.transicion:hover{
    transform: rotatey(360deg);
}