$colorheader: linear-gradient(#403e3e, black);
$colorletras: #e1c497;
$colorsecciones: #403e3e;
$colorprefooter: linear-gradient(#403e3e, #9e2a2b);
$colorfooter: #9e2a2b;
$colorseccionbarra: linear-gradient(black, #403e3e);
$colorprefooterbarra: linear-gradient(#373535, #9e2a2b);
$colorfooterultimo: linear-gradient(#9e2a2b, #9e0909)
